* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.oclock {
    display: flex;
    align-items: center;
    margin: 100px 200px;
    gap: 57px;
    background: radial-gradient(circle, #ffcc33, #e65c00);
    font-size: 90px;
    font-weight: 400;
    line-height: 108.92px;
    color: white;
    width: 850px;
    border-radius: 9px;
    height: 300px;
}

body {
    background: #FFCD38;
    background: radial-gradient(circle, #ffd166, #ff8c42);
    backdrop-filter: blur(0px)
}

.hours {
    width: 220px;
    height: 200px;
    border-radius: 9px;
    background: #050505E5;
    text-align: center;
    box-shadow: 8px 9px 22px 1px #00000099;
    margin: 35px 33px;
    padding-top: 45px;
}

.minutes {
    width: 220px;
    height: 200px;
    border-radius: 9px;
    background: #050505E5;
    text-align: center;
    box-shadow: 8px 9px 22px 1px #00000099;
    margin: 35px 33px;
    padding-top: 45px;
}

.seconds {
    width: 220px;
    height: 200px;
    border-radius: 9px;
    background: #050505E5;
    text-align: center;
    box-shadow: 8px 9px 22px 1px #00000099;
    margin: 35px 33px;
    padding-top: 45px;
}